#beans {
  width: 200px;
  height: 100%
}

.header {
  width: 100%;
  display: flex;
  padding: 10px;
}

.container {
  width: 75%;
  margin: 0 auto;
  background color: rgb(36, 154, 125)
}

.post {
  padding: 10px
}

h2 {
  color: black;
}

p {
  font-size: 20px;
}


.link .card {
	text-decoration: none;
	color: black;
}


.footer {
  text-align: center;
  margin: 0 auto
}